* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background: #f9f8fb;
}

p {
  margin: 0;
  padding: 0;
}

label {
  font-size: 1.2em;
  color: rgba(0, 0, 0, 0.8);
}

::placeholder {
  font-weight: bold;
  color: rgba(185, 185, 185, 0.8);
}

input {
  color: rgba(0, 0, 0, 0.7);
  border: none;
  border-radius: 0.65em;
  box-shadow: 3px 2px 10px #e6e6e6;
  padding: 1em;
  outline: none;
  transition: box-shadow 0.2s ease-in-out;
}

input:focus {
  box-shadow: 6px 12px 15px #e6e6e6;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: rgba(0, 0, 0, 0.7);
  transition: background-color 5000s ease-in-out 0s;
}

button {
  text-transform: capitalize;
  color: white;
  background: #0ac083;
  border-radius: 0.65em;
  border: none;
  padding: 1em;
  cursor: pointer;
  outline: none;
  transition: background-color 0.2s ease-in-out;
}

button:hover {
  background-color: #00d68e;
}

.container {
  width: 450px;
  height: 450px;
  margin: 0 auto;
}

.row {
  margin-top: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.alerts {
  width: 410px;
  margin-top: 1em;
}

.alert {
  color: white;
  border-radius: 0.65em;
  padding: 1em 2em;
  display: none;
}

.success {
  background-color: #419731;
}

.error {
  background-color: #bb0a1e;
}

.icon-alert {
  margin-right: 1.25em;
}

.alert-message {
  font-weight: bold;
}

.alert-message-sub {
  font-size: 0.85em;
  font-weight: normal;
}

.feather {
  width: 45px;
  height: 45px;
}
